/* Общие стили для бургер-меню */
.burger-menu-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .burger-menu-button {
    width: 43px;
    height: 40px;

    box-sizing: border-box;

    padding: 8px 9px 9px 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;

    background-color: transparent;
    border: none;

    opacity: 1;
    transition: opacity 0.4s ease;
  }

  .burger-menu-button:hover {
    opacity: 0.7;
  }

  .burger-menu-button__line {
    width: 28px;
    height: 3px;
    background-color: #fff;
  }
}

@media screen and (max-width: 425px) {
  .burger-menu-button {
    padding: 10px 9px 9px 12px;
  }

  .burger-menu-button__line {
    width: 22px;
    height: 3px;
    background-color: #fff;
  }
}
