/* Общие стили для бургер-меню */
.burger-menu__button {
  display: none;
}

@media screen and (max-width: 768px) {
  .burger-menu__button {
    width: 44px;
    height: 44px;

    box-sizing: border-box;

    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;

    background-color: transparent;
    border: none;
  }

  .burger-menu__button-line {
    width: 28px;
    height: 3px;
    background-color: #fff;
  }
}
