.promo {
  max-width: 1280px;
  width: 100%;
  min-height: 524px;

  display: flex;
  flex-direction: column;

  background-color: #073042;
  background-repeat: no-repeat;
  background-position: center;
}

.promo__title {
  max-width: 626px;
  width: 100%;

  margin: 0 0 0 70px;
  padding: 50px 0 0;

  color: #fff;
  font-family: 'Inter';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 130% */
  letter-spacing: -1.6px;
}

.promo__img {
  max-width: 722px;
  width: 100%;
  min-height: 244px;
  padding: 0 44px;
  margin: 102px 26px 60px auto;
}
