body {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #202020;
}

.App {
  max-width: 1280px;
  min-width: 320px;
  width: 100%;

  margin: auto;

  color: #fff;

  position: relative;

  display: flex;
  flex-direction: column;
}
* {
  /* border: 0.1px solid red; */
}
