.header {
  max-width: 1280px;
  width: 100%;
}

.header_colored {
  background-color: #073042;
}

.header__logo {
  margin: 0;
  padding: 0;

  height: 38px;
}

.header__content {
  margin: 0 70px;
  padding: 18px 0;

  display: flex;
  align-items: center;
}

.header__navigation {
  margin-left: auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 975px) {
  .header__content {
    margin: 0 30px;
  }
}

@media screen and (max-width: 425px) {
  .header__content {
    margin: 0 14px 0 14px;
    padding: 17px 0;
  }
}
