.nav__auth {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav__auth-link {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.4s ease;
}
.nav__auth-link:hover {
  opacity: 0.7;
}

.nav__auth-link_sign-in {
  color: #000000;
  background-color: #3ddc84;
  border-radius: 3px;
  padding: 8px 20px;
}
