.about-me {
  width: 100%;
}

.about-me__content {
  padding: 110px 0 34px;
  margin: 0 70px;
}

.about-me__title {
  margin: 0;

  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;

  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
}

.about-me__info-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 49px;
  padding: 66px 0;
}

.about-me__text-wrapper {
  max-width: 600px;
  width: 100%;
  min-height: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.about-me__info-title {
  margin: 0;

  color: #fff;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}

.about-me__info-subitle {
  margin: 18px 0 0 0;

  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}

.about-me__info-text {
  min-height: 187px;

  margin: 26px 0 auto 0;

  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.about-me__info-link {
  margin-top: auto;

  display: inline-block;

  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  text-decoration: none;

  opacity: 1;
  transition: opacity 0.4s ease;
}

.about-me__info-link:hover {
  opacity: 0.7;
}

.about-me__photo {
  max-width: 270px;
  width: 100%;
  max-height: 360px;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 975px) {
  .about-me__content {
    padding: 90px 0;
    margin: 0 50px;
  }

  .about-me__info-wrapper {
    gap: 49px;
    padding: 66px 0 0;
  }

  .about-me__text-wrapper {
    max-width: 500px;
    width: 100%;
    min-height: 307px;
    height: 100%;
  }

  .about-me__info-title {
    font-size: 40px;
    line-height: 40px; /* 100% */
    letter-spacing: -1.6px;
  }

  .about-me__info-subitle {
    margin: 16px 0 0 0;
    font-size: 12px;
    line-height: 18px; /* 150% */
  }

  .about-me__info-text {
    min-height: 195px;

    margin: 20px 0 0 0;
    font-size: 12px;
    line-height: 18px; /* 150% */
  }

  .about-me__photo {
    max-width: 255px;
    width: 100%;
    max-height: 307px;
    height: 100%;
    object-fit: cover;
  }
}
